[{
    table: "Subscriptions",
    query: "SELECT * FROM Subscription WHERE SubscriptionId = @SubscriptionId"
},{
    table: "Activities",
    query: ""
},{
    table: "Equipment",
    query: "SELECT EquipmentId, EquipmentName FROM Equipment e INNER JOIN Activities ON a.ActivityId = e.ActivityId INNER JOIN Subscripions s ON a.SubscriptionId = a.SubscriptionId WHERE SubscriptionId = @SubscriptionID"
}]